# Firmware propietario (copyright Apple/Broadcom) — nunca redistribuir
*.tar
firmware/brcm-4364-firmware-sonoma.tar
*.bin
*.fw

# Blobs / imágenes pesadas
*.iso
*.img
*.dmg
*.pkg

# Basura de sistemas de archivos (la USB es exfat/macOS)
.DS_Store
._*
.fseventsd/
.Spotlight-V100/
.Trashes/

# Editor
*.swp
*~
.idea/
.vscode/
