[Unit]
Description=Montaje Google Drive (rclone)
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
TimeoutStartSec=120
ExecStartPre=/usr/bin/mkdir -p %h/GoogleDrive
ExecStart=/usr/bin/rclone mount gdrive: %h/GoogleDrive --vfs-cache-mode full --vfs-cache-max-size 10G --dir-cache-time 1000h --poll-interval 15s --umask 022
ExecStop=/usr/bin/fusermount3 -u %h/GoogleDrive
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
